<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Login Form</title>
    <link rel="stylesheet" href="login.component.css">
</head>
<body>
<div class="border-pane">
    <div class="login-container">
        <label for="userField">Nombre de usuario</label>
        <input type="text" id="userField" name="userField">
        
        <label for="passField">Contraseña</label>
        <input type="password" id="passField" name="passField">
        
        <div class="buttons">
            <button id="cancelarBtn">Cancelar</button>
            <button id="accederBtn">Acceder</button>
        </div>
    </div>
</div>
</body>
</html>
